<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <p class="navbar-text">©️ 2023 by <b>Yang Chen</b>
    <a href="https://github.com/pisove"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/yang-chen-7712aa181/"><i class="fa-brands fa-linkedin"></i></a>
  </p>
</nav>