<%- include ('../views/partials/header.ejs') %>
<%- include ('../views/partials/main_nav.ejs') %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container"><br>
    <h1 class="display-6">Yang Chen's Invatory Cataloging system</h1><br>
    <h6 class="display-10">click Store Catalogue to start</h6>
  </div>
</div>
</main>
<%- include ('../views/partials/bottom_nav.ejs') %>
<%- include ('../views/partials/footer.ejs') %>


